body{
    font-family: Arial;
}
.row:after {
    content: "";
    display: table;
    clear: both;
    }
.column {
    float: left;
    width: 40%;
    padding: 10px;
}
.button{
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10%;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
  .one {
    grid-column:  1 / 23;
    grid-row: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-color: #80ced6;
    border-width: thick;
  }
  .three {
    grid-column: 2 / 4;
    border: 1px solid #ddd;
    border-color: #80ced6;
    border-width: thick;
  }
  .two {
  grid-column: 1;
  grid-row: 2 / 5;
  border: 1px solid #ddd;
    border-color: #80ced6;
    border-width: thick;
}
